.add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 33px;
    border: none;
    background: #11969E;
    border-radius: 20px;
    color: #FFFFFF;
    margin-right: 33px;
    font-weight: bold;
}
 .add-btn:hover{
    background: #c5e3e9;
    color: #1B2157;
    transform: translate(0.5s);
}

.box-field {
    height: 40px;
    width: 100%;
    background: #ecf3f8;
    border: none;
    border-radius: 8px;
    
  }
  